<section class="app-main-content">
  <mat-card class="app-card">
    <mat-card-title class="app-card-title">Seach stop</mat-card-title>
    <mat-card-content>
      <form (submit)="handleSubmit(); false">
        <div class="app-card-content">
          <mat-form-field class="example-full-width">
            <input matInput
              name="stopId"
              placeholder="Stop id"
              [(ngModel)]="stopId"
              required>
          </mat-form-field>

          <button mat-raised-button
            color="accent"
            type="submit">Seach
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>
