<section class="app-main-content">
  <mat-card class="app-card">
    <mat-card-title class="app-card-title">Seach stop</mat-card-title>
    <mat-card-content>
      <div class="app-card-content">
        <mat-form-field class="example-full-width">
          <input matInput
            placeholder="Favorite food"
            value="Sushi">
        </mat-form-field>

        <button mat-raised-button
          color="accent">Seach
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>
