version: 2
jobs:
  build:
    working_directory: ~/test-task-angular
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - restore_cache:
          key: my-project-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install Angular CLI
          command: sudo npm install -g @angular/cli
      - run:
          name: Install PM2
          command: sudo npm install -g pm2
      - run:
          name: Yarn
          command: yarn
      - save_cache:
          key: my-project-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - "node_modules"
      - run:
          name: Run server
          command: pm2 server.js
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Run unit test
          command: npm run test -- --no-watch --no-progress
      - run:
          name: Run e2e test
          command: npm run e2e -- --protractor-config=e2e/protractor-ci.conf.js
      # - run:
      #     name: Build project
      #     command: ng build --prod
      # - run:
      #     name: Deploy to Firebase
      #     command: ./firebase-deploy/node_modules/.bin/firebase deploy --project=logger-console --token=$FIREBASE_TOKEN
